* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    //@include NotoSansCJKkrRegular;
    font-family: "Noto Sans KR", sans-serif;
}

button {
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

textarea {
    font-family: "Noto Sans KR", sans-serif;
    width: 100%;
    padding: 7px;
    font-size: 10.5pt;
    @include input-round-border($border_light_gray_color2);
    font-weight: 500;
    color:lighten($txt_dark_gray_color,3%);
    resize:vertical;
}

input, select {
    font-family: "Noto Sans KR", sans-serif;
    width:100%;
    height: 37px;
    padding: 6px 4px;
    font-size: 10.5pt;
    @include input-round-border($border_light_gray_color3);
    font-weight: 500;
    color:lighten($txt_dark_gray_color,3%);
}

select::-ms-expand {
    display: none;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    //background: $white url('/images/arrow.png') no-repeat 98% 50%;
    background-size: 12px;
    padding-right: 2.5rem;
    cursor: pointer;
    padding-left: 0.3rem;
    width: 100%;


    background-image:
        linear-gradient(45deg, transparent 50%, $white 50%),
        linear-gradient(135deg, $white 50%, transparent 50%),
        linear-gradient(to right, $btn_light_navy_color, $btn_light_navy_color);
    background-position:
        calc(100% - 16px) calc(1em + 2px), calc(100% - 11px) calc(1em + 2px), 100% 0;
    background-size:
        8px 6px,
        6px 8px,
        2.5em 2.5em;
    background-repeat: no-repeat;
}


select option {
    background-color: $white;
    color: $txt_black_color;
}

input[type='text'] {
    padding: 0 8px;
}

input[type='password'] {
    padding: 0 8px;
}

input[type='tel'] {
    height: 34px;
    padding: 0 8px;
}

.input-type1 {
    border:0;
    align-self: center;
}

.input-type2 {
    width: 200px;
}

.input-search-type {
    border: 0;
    background-color: $white;
    border-radius: 0;
    border-bottom:1px solid $border_light_navy;
    width: 170px;
    font-size: 11.5pt;
}

.input-disabled {
    background-color: $input_bg_gray_color;
}

.txt {
    font-weight: 500;
    font-size: 10.5pt;
}



input[type="checkbox"] {
    position: relative;
}

input[type="checkbox"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type="checkbox"] + label{
    position: relative;
    padding-left: 30px;

    padding-top: 8px;
    display: flex;

    cursor: pointer;
    font-size: 10.5pt;
    font-weight: 500;
    color:$txt_dark_gray_color;
}

input[type="checkbox"] + label:before, input[type="checkbox"] + label:after{
    box-sizing: content-box;
    position: absolute;
    content: '';
    display: block;
    left: 0;
}

input[type="checkbox"] + label:before {
    top: 60%;
    width: 18px;
    height: 18px;
    margin-top: -8px;
    left:1px;
    border: 1px solid $txt_gray_color;
    text-align: center;
    background-color: $white;
    border-radius: 3px;
}

input[type="checkbox"] + label:after
{
    background-color:$white;
    top: 50%;
    left: 6px;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    transform: scale(0);
    transform-origin: 50%;
    transition: transform 200ms ease-out;
}

input[type="checkbox"] + label:after {
    background-color: transparent;
    top: 68%;
    left: 6.2px;
    width: 7px;
    height: 4px;
    margin-top: -5px;
    border-style: solid;
    border-color: $white;
    border-width: 0 0 3px 3px;
    -moz-transform: rotate(-45deg) scale(0);
    -ms-transform: rotate(-45deg) scale(0);
    -webkit-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
}

input[type="checkbox"]:checked + label:before {
    -moz-animation: borderscale 200ms ease-in;
    -webkit-animation: borderscale 200ms ease-in;
    animation: borderscale 200ms ease-in;
    background-color:$btn_light_navy_color;
    border:1px solid $btn_light_navy_color;
}

input[type="checkbox"]:checked:hover + label:before {
    background-color:darken($btn_light_navy_color,5%);
    border:1px solid darken($btn_light_navy_color,5%);
}

input[type="checkbox"]:checked + label:after {
    content: '';
    -moz-transform: rotate(-45deg) scale(1);
    -ms-transform: rotate(-45deg) scale(1);
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
    -moz-transition: -moz-transform 200ms ease-out;
    -o-transition: -o-transform 200ms ease-out;
    -webkit-transition: -webkit-transform 200ms ease-out;
    transition: transform 200ms ease-out;
}

/*radio*/
input[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type="radio"] + label {
    position: relative;
    padding-left: 26px;
    font-weight: 500;
    margin-right:23px;
    cursor: pointer;
}

input[type="radio"] + label:before,
input[type="radio"] + label:after {
    box-sizing: content-box;
    position: absolute;
    content: '';
    display: block;
    left: 0;
}

input[type="radio"] + label:before {
    top: 50%;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    border: 1px solid $border_light_gray_color3;
    text-align: center;
    background-color: #fff;
    border-radius: 25px;
}

input[type="radio"] + label:after {
    background-color:#fff;
    top: 50%;
    left: 6px;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    transform: scale(0);
    transform-origin: 50%;
    transition: transform 200ms ease-out;
}
input[type="radio"] + label:after {
    background-color: transparent;
    top: 50%;
    left: 4px;
    width: 2px;
    height: 2px;
    margin-top: -4px;
    border-style: solid;
    border-color: $btn_navy_color;
    border-width: 4px;
    -moz-transform: rotate(-45deg) scale(0);
    -ms-transform: rotate(-45deg) scale(0);
    -webkit-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;

    border-radius: 100%;
    background-color: $btn_navy_color;
}

input[type="radio"]:checked + label:before {
    -moz-animation: borderscale 200ms ease-in;
    -webkit-animation: borderscale 200ms ease-in;
    animation: borderscale 200ms ease-in;
}

input[type="radio"]:checked + label:after {
    content: '';
    -moz-transform: rotate(-45deg) scale(1);
    -ms-transform: rotate(-45deg) scale(1);
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
    -moz-transition: -moz-transform 200ms ease-out;
    -o-transition: -o-transform 200ms ease-out;
    -webkit-transition: -webkit-transform 200ms ease-out;
    transition: transform 200ms ease-out;
}

#nav {
    @include column;
    background-color: $bg_navy_color;
    width: 250px;
    min-width: 250px;
    z-index: 2;
}

header {
    min-width:1653px;
    padding: 35px 40px 0;
}
