<!-- theyweek -->
<div class='modal modal-hidden' id='modal-theyweek'>
<!-- <div class='modal' id='modal-theyweek'> -->
    <div class='modal_overlay' onclick='closeModal("theyweek");'></div>
    <div class='modal_content'>

        <div class='project-title'>TheyWeek</div>

        <div class='project-desc-container'>
            <div class='project-desc-sub-container'>
                <div class='project-contents col'>
                    <div class='title'>URL</div>
                    <div class='contents'><a href='http://theyweek.com' target='_blank'>http://theyweek.com</a></div>
                </div>
        
                <div class='project-contents col'>
                    <div class='title'>개발 환경</div>
                    <div class='contents'>
                        <dl>
                            <dt>클라이언트 스택</dt>
                            <dd>HTML5, Laravel Blade, jQuery, JavaScript, CSS3, SCSS</dd>
                        </dl>
                    </div>
                </div>
        
                <div class='project-contents col'>
                    <div class='title'>프로젝트 소개</div>
                    <div class='contents'>
                        캠핑 용품 쇼핑몰로 기존 쇼핑몰 레이아웃이 아닌 새로운 디자인 적용
                    </div>
                </div>

                <div class='project-contents col'>
                    <div class='title'>역할</div>
                    <div class='contents'>
                        <ul>
                            <li>전체 웹 사이트의 프론트 단 개발</li>
                            <li>크로스브라우징, PC/모바일 버전, 반응형, 애니메이션 효과</li>
                            <li>상품의 이미지와 동영상을 슬라이드에 추가했으며, 모바일, 테블릿, PC 화면에 비율 적용</li>
                            <li>관리자 페이지의 상품 이미지 및 동영상(유튜브 링크 포함)을 편리하게 추가할 수 있도록 드래그 앤 드랍 적용</li>
                            <li>스크롤, 클릭 등 이벤트 마다 다양한 애니메이션 적용</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class='screen-detail'>
                
                <div class='' >
                    <a href='images/project/theyweek/theyweek_main.jpg' data-lightbox='theyweek'>
                        <input type='button' class='dark-gray-btn screen-detail-btn' value='사이트 이미지 보기'/>
                    </a>
                    <a href='images/project/theyweek/menu.jpg' data-lightbox='theyweek'></a>
                    <a href='images/project/theyweek/detail.png' data-lightbox='theyweek'></a>
                    <a href='images/project/theyweek/detail2.png' data-lightbox='theyweek'></a>
                </div>

                <!-- <a href="" data-title="" data-lightbox="example-set"><img src="" alt=""></a>
                <a style="display:none;" href="" data-title="" data-lightbox="example-set"><img src="" alt=""></a>
                -->
                
            </div>
        </div>

        <input type='button' class='modal-close' onclick='closeModal("theyweek");' value='&#215;' />
    </div>
</div>


<!-- receipt -->
<div class='modal modal-hidden' id='modal-receipt'>
    <div class='modal_overlay' onclick='closeModal("receipt");'></div>
    <div class='modal_content'>

        <div class='project-title'>리뷰 관리</div>

        <div class='project-desc-container'>
            <div class='project-desc-sub-container'>
                <div class='project-contents col'>
                    <div class='title'>URL</div>
                    <div class='contents'><a href='#' target='_blank'>내부 관리 사이트</a></div>
                </div>
        
                <div class='project-contents col'>
                    <div class='title'>개발 환경</div>
                    <div class='contents'>
                        <dl>
                            <dt>클라이언트 스택</dt>
                            <dd>HTML5, Laravel Blade, jQuery, JavaScript, CSS3, SCSS</dd>
                        </dl>
                    </div>
                </div>

                <div class='project-contents col'>
                    <div class='title'>프로젝트 소개</div>
                    <div class='contents'>
                        리뷰, 업체관리를 위한 사이트
                    </div>
                </div>
        
                <div class='project-contents col'>
                    <div class='title'>프로젝트 소개</div>
                    <div class='contents'>
                        <ul>
                            <li>전체 웹 사이트의 프론트 단 개발</li>
                            <li>크로스브라우징, PC 버전, 반응형, 애니메이션 효과</li>
                            <li>모달에 추가해야할 작업 수 만큼 슬라이드 페이지 생성하여 작업이 용이하도록 적용</li>
                            <li>검색에서 시각적인 토글버튼 적용</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class='screen-detail'>
                
                <div class='' >
                    <a href='images/project/receipt/receipt_main.jpg' data-lightbox='receipt'>
                        <input type='button' class='dark-gray-btn screen-detail-btn' value='사이트 이미지 보기'/>
                    </a>
                    <a href='images/project/receipt/admin_worklist.jpg' data-lightbox='receipt'></a>
                    <a href='images/project/receipt/agency_list.jpg' data-lightbox='receipt'></a>
                    <a href='images/project/receipt/company_list.jpg' data-lightbox='receipt'></a>
                    <a href='images/project/receipt/guide.jpg' data-lightbox='receipt'></a>
                </div>
                
            </div>
        </div>

        <input type='button' class='modal-close' onclick='closeModal("receipt");' value='&#215;' />
    </div>
</div>



<!-- insta -->
<div class='modal modal-hidden' id='modal-insta'>
    <div class='modal_overlay' onclick='closeModal("insta");'></div>
    <div class='modal_content'>

        <div class='project-title'>인스타 고객관리<br />(CRM)</div>

        <div class='project-desc-container'>
            <div class='project-desc-sub-container'>
                <div class='project-contents col'>
                    <div class='title'>URL</div>
                    <div class='contents'><a href='#' target='_blank'>내부 관리 사이트</a></div>
                </div>
        
                <div class='project-contents col'>
                    <div class='title'>개발 환경</div>
                    <div class='contents'>
                        <dl>
                            <dt>클라이언트 스택</dt>
                            <dd>HTML5, Laravel Blade, jQuery, JavaScript, CSS3, SCSS</dd>
                        </dl>

                        <dl>
                            <dt> 서버 스택</dt>
                            <dd>C#</dd>
                        </dl>
                    </div>
                </div>
        
                <div class='project-contents col'>
                    <div class='title'>프로젝트 소개</div>
                    <div class='contents'>
                        인스타 고객관리 (CRM)
                    </div>
                </div>

                <div class='project-contents col'>
                    <div class='title'>역할</div>
                    <div class='contents'>
                        <ul>
                            <li>전체 웹 사이트의 프론트 단 개발</li>
                            <li>크로스브라우징, PC/모바일 버전, 반응형, 애니메이션 효과</li>
                            <li>C#의 Selenium을 활용하여 인스타그램 정보 크롤링하여 체크 중인 리스트에 데이터 매핑</li>
                            <li>인스타그램 태그, 댓글과 각 유저에 대한 상태 로그 리스트 관리 서비스</li>
                            <li>총 유저 수를 확인하기 위해 구글 차트를 이용하여 기간별 통계</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class='screen-detail'>
                
                <div class='' >
                    <a href='images/project/insta/insta_login.png' data-lightbox='insta'>
                        <input type='button' class='dark-gray-btn screen-detail-btn' value='사이트 이미지 보기'/>
                    </a>
                    <a href='images/project/insta/pc_user.jpg' data-lightbox='insta'></a>
                    <a href='images/project/insta/pc_user2.jpg' data-lightbox='insta'></a>
                    <a href='images/project/insta/pc_statistics.jpg' data-lightbox='insta'></a>
                    <a href='images/project/insta/m_total2.jpg' data-lightbox='insta'></a>
                    <a href='images/project/insta/m_total.jpg' data-lightbox='insta'></a>
                </div>

                <!-- <a href="" data-title="" data-lightbox="example-set"><img src="" alt=""></a>
                <a style="display:none;" href="" data-title="" data-lightbox="example-set"><img src="" alt=""></a>
                -->
                
            </div>
        </div>

        <input type='button' class='modal-close' onclick='closeModal("insta");' value='&#215;' />
    </div>
</div>


<!-- storetracker -->
<div class='modal modal-hidden' id='modal-storetracker'>
    <div class='modal_overlay' onclick='closeModal("storetracker");'></div>
    <div class='modal_content'>

        <div class='project-title'>순위의 모든 것</div>

        <div class='project-desc-container'>
            <div class='project-desc-sub-container'>
                <div class='project-contents col'>
                    <div class='title'>URL</div>
                    <div class='contents'><a href='http://storetracker.me' target='_blank'>http://storetracker.me</a></div>
                </div>
        
                <div class='project-contents col'>
                    <div class='title'>개발 환경</div>
                    <div class='contents'>
                        <dl>
                            <dt>클라이언트 스택</dt>
                            <dd> HTML5, Vue.js, Vuetify, SCSS, CSS3</dd>
                        </dl>
                    </div>
                </div>
        
                <div class='project-contents col'>
                    <div class='title'>프로젝트 소개</div>
                    <div class='contents'>
                        광고 검색 키워드에 대한 블로그, 카페, 순위 분석
                    </div>
                </div>

                <div class='project-contents col'>
                    <div class='title'>역할</div>
                    <div class='contents'>
                        <ul>
                            <li>전체 웹 사이트 및 관리자 페이지의 프론트 단 개발</li>
                            <li>크로스브라우징, PC/모바일 버전, 반응형, 애니메이션 효과</li>
                            <li>PC/모바일에 대한 키워드 별 조회수 검색 시 실시간 제공 서비스</li>
                            <li>이전 검색 키워드별 최고 순위 순서대로 화면 출력</li>
                            <li>최고 순위 키워드를 커스터마이징한 구글 차트를 화면 출력 서비스</li>
                            <li>이전 검색기록 클릭 시 최상단으로 스크롤 이동 및 선택한 검색 내용 재검색</li>
                            <li>랜덤한 문자열의 토큰을 로컬 스토리지에 저장하여 검색 기록 유지</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class='screen-detail'>
                
                <div class='' >
                    <a href='images/project/storetracker/storestracker_main.png' data-lightbox='storetracker'>
                        <input type='button' class='dark-gray-btn screen-detail-btn' value='사이트 이미지 보기'/>
                    </a>
                    <a href='images/project/storetracker/m_main.png' data-lightbox='storetracker'></a>
                </div>
            </div>
        </div>

        <input type='button' class='modal-close' onclick='closeModal("storetracker");' value='&#215;' />
    </div>
</div>


<!-- sunweerank -->
<div class='modal modal-hidden' id='modal-sunweerank'>
    <div class='modal_overlay' onclick='closeModal("sunweerank");'></div>
    <div class='modal_content'>

        <div class='project-title'>순위체크</div>

        <div class='project-desc-container'>
            <div class='project-desc-sub-container'>
                <div class='project-contents col'>
                    <div class='title'>URL</div>
                    <div class='contents'><a href='#' target='_blank'>내부 관리 사이트</a></div>
                </div>
        
                <div class='project-contents col'>
                    <div class='title'>개발 환경</div>
                    <div class='contents'>
                        <dl>
                            <dt>클라이언트 스택</dt>
                            <dd>HTML5, Laravel Blade, jQuery, JavaScript, CSS3, SCSS</dd>
                        </dl>
                    </div>
                </div>
        
                <div class='project-contents col'>
                    <div class='title'>프로젝트 소개</div>
                    <div class='contents'>
                        광고 검색 키워드에 대한 블로그, 카페, 순위 분석
                    </div>
                </div>

                <div class='project-contents col'>
                    <div class='title'>역할</div>
                    <div class='contents'>
                        <ul>
                            <li>전체 웹 사이트 및 관리자 페이지의 프론트 단 개발 및 디자인</li>
                            <li>크로스브라우징, PC 버전, 반응형, 애니메이션 효과</li>
                            <li>유사 카테고리를 묶어서 관리하기 위한 카테고리 이동 기능</li>
                            <li>검색 비중이 높은 키워드에 대한 순위 관리</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class='screen-detail'>
                
                <div class='' >
                    <a href='images/project/sunweerank/sunweerank_main.jpg' data-lightbox='sunweerank'>
                        <input type='button' class='dark-gray-btn screen-detail-btn' value='사이트 이미지 보기'/>
                    </a>
                    <a href='images/project/sunweerank/modal.jpg' data-lightbox='sunweerank'></a>
                </div>
            </div>
        </div>

        <input type='button' class='modal-close' onclick='closeModal("sunweerank");' value='&#215;' />
    </div>
</div>


<!-- AD Helper -->
<div class='modal modal-hidden' id='modal-adhelper'>
    <div class='modal_overlay' onclick='closeModal("adhelper");'></div>
    <div class='modal_content'>

        <div class='project-title'>AD Helper,<br />AD Helper User<br />(내부 전용)</div>

        <div class='project-desc-container'>
            <div class='project-desc-sub-container'>
                <div class='project-contents col'>
                    <div class='title'>URL</div>
                    <div class='contents'><a href='#' target='_blank'>내부 관리 사이트(사이트 4개)</a></div>
                </div>
        
                <div class='project-contents col'>
                    <div class='title'>개발 환경</div>
                    <div class='contents'>
                        <dl>
                            <dt>클라이언트 스택</dt>
                            <dd>HTML5, Laravel Blade, jQuery, JavaScript, CSS3, SCSS</dd>
                        </dl>
                    </div>
                </div>
        
                <div class='project-contents col'>
                    <div class='title'>프로젝트 소개</div>
                    <div class='contents'>
                        네이버 포털 검색 데이터(플레이스, 키워드)를 분석하여 화면 출력
                    </div>
                </div>

                <div class='project-contents col'>
                    <div class='title'>역할</div>
                    <div class='contents'>
                        <ul>
                            <li>전체 웹 사이트 및 관리자 페이지의 프론트 단 개발</li>
                            <li>전체 웹 사이트 및 관리자 페이지 디자인 작업</li>
                            <li>크로스브라우징, PC 버전, 반응형, 애니메이션 효과</li>
                            <li>구글 차트 연동하여, 검색 결과 데이터를 기간 별 커스터마이징</li>
                            <li>플레이스 또는 키워드를 네이버 연동하여 검색 시 결과 데이터의 순위 별 조건을 적용하여 화면 출력</li>
                            <li>유저 권한에 따른 화면 설계</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class='screen-detail'>
                
                <div class='' >
                    <a href='images/project/adhelper/adhelper_main.jpg' data-lightbox='adhelper'>
                        <input type='button' class='dark-gray-btn screen-detail-btn' value='사이트 이미지 보기'/>
                    </a>
                    <a href='images/project/adhelper/adhelper2.jpg' data-lightbox='adhelper'></a>
                    <a href='images/project/adhelper/slot.png' data-lightbox='adhelper'></a>
                    <a href='images/project/adhelper/keyword.png' data-lightbox='adhelper'></a>
                    
                </div>
            </div>
        </div>

        <input type='button' class='modal-close' onclick='closeModal("adhelper");' value='&#215;' />
    </div>
</div>


<!-- minthub -->
<div class='modal modal-hidden' id='modal-minthub'>
    <div class='modal_overlay' onclick='closeModal("minthub");'></div>
    <div class='modal_content'>

        <div class='project-title'>민트허브 CRM<br />리뉴얼</div>

        <div class='project-desc-container'>
            <div class='project-desc-sub-container'>
                <div class='project-contents col'>
                    <div class='title'>URL</div>
                    <div class='contents'><a href='#' target='_blank'>내부 관리 사이트</a></div>
                </div>
        
                <div class='project-contents col'>
                    <div class='title'>개발 환경</div>
                    <div class='contents'>
                        <dl>
                            <dt>클라이언트 스택</dt>
                            <dd>HTML5, Laravel Blade, jQuery, JavaScript, CSS3, SCSS</dd>
                        </dl>
                    </div>
                </div>
        
                <div class='project-contents col'>
                    <div class='title'>프로젝트 소개</div>
                    <div class='contents'>
                        휴대폰 개통 웹 서비스
                    </div>
                </div>

                <div class='project-contents col'>
                    <div class='title'>역할</div>
                    <div class='contents'>
                        <ul>
                            <li>전체 웹 사이트 및 관리자 페이지의 프론트 단 개발 및 디자인</li>
                            <li>크로스브라우징, PC 버전, 반응형, 애니메이션 효과</li>
                            <li>재고 엑셀 파일 업로드 시 UI를 고려한 화면으로 디자인 후 프린트 출력</li>
                            <li>웹 사이트의 목적(휴대폰 개통 서비스)을 디벨롭하고, 트렌드에 맞는 디자인 스타일과 기술 적용</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class='screen-detail'>
                
                <div class='' >
                    <a href='images/project/minthub_crm/minthub_crm_main.jpg' data-lightbox='minthub'>
                        <input type='button' class='dark-gray-btn screen-detail-btn' value='사이트 이미지 보기'/>
                    </a>
                    <a href='images/project/minthub_crm/admin_crm_model.jpg' data-lightbox='minthub'></a>
                    <a href='images/project/minthub_crm/customer.jpg' data-lightbox='minthub'></a>
                </div>
            </div>
        </div>

        <input type='button' class='modal-close' onclick='closeModal("minthub");' value='&#215;' />
    </div>
</div>


<!-- alarm -->
<div class='modal modal-hidden' id='modal-alarm'>
    <div class='modal_overlay' onclick='closeModal("alarm");'></div>
    <div class='modal_content'>

        <div class='project-title'>알람 서버</div>

        <div class='project-desc-container'>
            <div class='project-desc-sub-container'>
                <div class='project-contents col'>
                    <div class='title'>URL</div>
                    <div class='contents'><a href='#' target='_blank'>내부 관리 사이트</a></div>
                </div>
        
                <div class='project-contents col'>
                    <div class='title'>개발 환경</div>
                    <div class='contents'>
                        <dl>
                            <dt>클라이언트 스택</dt>
                            <dd>HTML5, Vue.js, Vuetify, SCSS, CSS3</dd>
                        </dl>
                    </div>
                </div>
        
                <div class='project-contents col'>
                    <div class='title'>프로젝트 소개</div>
                    <div class='contents'>
                        카카오 알림톡, 텔레그램, 슬랙 연동하여 메세지 전송<br />
                        알람 서버에 등록한 사이트 웰컴 메세지 전송과 랜딩 사이트로 유입되는 고객 정보가 내부 CRM으로 Insert될 경우 관리자에게 접수 완료 메세지 전송
                    </div>
                </div>

                <div class='project-contents col'>
                    <div class='title'>역할</div>
                    <div class='contents'>
                        <ul>
                            <li>전체 웹 사이트 및 관리자 페이지의 프론트 단 개발 및 디자인</li>
                            <li>전체 웹 사이트 및 관리자 페이지 디자인 설계, 스토리보드 작성</li>
                            <li>크로스브라우징, PC 버전, 반응형, 애니메이션 효과</li>
                            <li>Vue CLI 프로젝트 생성</li>
                            <li>유저들이 편리하게 웹 서비스를 이용할 수 있도록 API Reference 페이지 추가</li>
                            <li>카카오 알림톡, 텔레그램, 슬랙 연동 테스트 axios를 사용하여 HTTP 통신</li>
                            <li>CORS 오류 header 공통정보 추가하여 해결</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class='screen-detail'>
                
                <div class='' >
                    <a href='images/project/alarm/alarm_main.jpg' data-lightbox='alarm'>
                        <input type='button' class='dark-gray-btn screen-detail-btn' value='사이트 이미지 보기'/>
                    </a>
                    <a href='images/project/alarm/user.jpg' data-lightbox='alarm'></a>                    
                </div>
            </div>
        </div>

        <input type='button' class='modal-close' onclick='closeModal("alarm");' value='&#215;' />
    </div>
</div>


<!-- 랜딩 -->
<div class='modal modal-hidden' id='modal-landing'>
    <div class='modal_overlay' onclick='closeModal("landing");'></div>
    <div class='modal_content'>

        <div class='project-title'>랜딩 페이지<br />(약 200개)</div>

        <div class='project-desc-container'>
            <div class='project-desc-sub-container'>
                <div class='project-contents col'>
                    <div class='title'>URL</div>
                    <div class='contents'><a href='#' target='_blank'>내부 관리 사이트</a></div>
                </div>
        
                <div class='project-contents col'>
                    <div class='title'>개발 환경</div>
                    <div class='contents'>
                        <dl>
                            <dt>클라이언트 스택</dt>
                            <dd>HTML5, PHP, jQuery, JavaScript, SCSS</dd>
                        </dl>
                    </div>
                </div>
        
                <div class='project-contents col'>
                    <div class='title'>프로젝트 소개</div>
                    <div class='contents'>
                        고객 유입을 위한 랜딩 페이지 생성
                    </div>
                </div>

                <div class='project-contents col'>
                    <div class='title'>역할</div>
                    <div class='contents'>
                        <ul>
                            <li>전체 웹 사이트 및 관리자 페이지의 프론트 단 개발 및 디자인</li>
                            <li>크로스브라우징, PC/모바일 버전, 반응형, 각 랜딩에 어울리는 애니메이션 반영</li>
                            <li>원페이지 형식의 PC, Mobile 버전 웹 사이트 제작 (2시간 소요)</li>
                            <li>폼 데이터 체크 후 서브밋</li>
                            <li>세로 슬라이드 롤링을 이용한 실시간 현황 서비스 제공</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class='screen-detail'>
                
                <div class='' >
                    <a href='images/project/landing/landing.jpg' data-lightbox='landing'>
                        <input type='button' class='dark-gray-btn screen-detail-btn' value='사이트 이미지 보기'/>
                    </a>                
                </div>
            </div>
        </div>

        <input type='button' class='modal-close' onclick='closeModal("landing");' value='&#215;' />
    </div>
</div>


<!-- VIP 비즈몰 -->
<div class='modal modal-hidden' id='modal-vip'>
    <div class='modal_overlay' onclick='closeModal("vip");'></div>
    <div class='modal_content'>

        <div class='project-title'>VIP 비즈몰</div>

        <div class='project-desc-container'>
            <div class='project-desc-sub-container'>
                <div class='project-contents col'>
                    <div class='title'>URL</div>
                    <div class='contents'><a href='https://vipbizmall.com/sign-in' target='_blank'>https://vipbizmall.com/sign-in</a></div>
                </div>
        
                <div class='project-contents col'>
                    <div class='title'>개발 환경</div>
                    <div class='contents'>
                        <dl>
                            <dt>클라이언트 스택</dt>
                            <dd>HTML5, Vue.js, Vuetify, SCSS, CSS3</dd>
                        </dl>
                    </div>
                </div>
        
                <div class='project-contents col'>
                    <div class='title'>프로젝트 소개</div>
                    <div class='contents'>
                        추천인 코드를 안내 받은 VIP 회원들을 위한 휴대폰 쇼핑몰<br />
                        통신사, 약정, 요금제 별로 각 휴대폰의 최저가 최종 월 납부금액을 제공
                    </div>
                </div>

                <div class='project-contents col'>
                    <div class='title'>역할</div>
                    <div class='contents'>
                        <ul>
                            <li>전체 웹 사이트 및 관리자 페이지의 프론트 단 개발 및 디자인</li>
                            <li>크로스브라우징, PC/모바일 버전, 반응형, 애니메이션 효과</li>
                            <li>각 제조사 메뉴 클릭 시 스크롤 섹션 이동</li>
                            <li>회원가입 시 서명 작성 및 저장을 위해 Canvas를 이용한 사인패드 구현</li>
                            <li>관리자 페이지에서 용이한 휴대폰 관리를 위해 휴대폰 리스트 드래그 시 순서변경</li>
                            <li>각 휴대폰에 대한 요금제 별 지원금 입력 시 바로 DB 반영</li>
                            <li>통신사, 약정, 요금제 선택 시 할인금액과 월 납부금액 실시간 반영</li>
                            <li>드래그 앤 드랍을 이용한 첨부파일</li>
                            <li>웰컴메일 전송 및 메일 폼 디자인</li>
                            <li>신청완료, 오류 등 각 버튼에 대한 모달 기능</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class='screen-detail'>
                <div>
                    <a href='images/project/vip/vip_main.jpg' data-lightbox='vip'>
                        <input type='button' class='dark-gray-btn screen-detail-btn' value='사이트 이미지 보기'/>
                    </a>    
                    <a href='images/project/vip/detail.jpg' data-lightbox='vip'></a>              
                    <a href='images/project/vip/detail2.png' data-lightbox='vip'></a>
                    <a href='images/project/vip/notice.jpg' data-lightbox='vip'></a>
                    <a href='images/project/vip/order_completed.jpg' data-lightbox='vip'></a>
                    <a href='images/project/vip/order_list.png' data-lightbox='vip'></a>
                    <a href='images/project/vip/m_main.jpg' data-lightbox='vip'></a>
                    <a href='images/project/vip/m_signup.jpg' data-lightbox='vip'></a>
                    <a href='images/project/vip/m_detail.png' data-lightbox='vip'></a>
                </div>
            </div>
        </div>

        <input type='button' class='modal-close' onclick='closeModal("vip");' value='&#215;' />
    </div>
</div>


