<div id='about-timeline' class='about-timeline'>
    
    <!-- 망고 -->
    <div class='about-timeline-block'>
        <div class='about-timeline-img about-picture'></div>

        <div class='about-timeline-content'>
            <h2>(주)*고</h2>
            <div class='timeline-content-info'>
                <span class='timeline-content-info-title'>
                    <i class="fa-solid fa-user-secret"></i>
                    Front-End Developer
                </span>
                <span class="timeline-content-info-date">
                    <i class="fa-solid fa-calendar-days"></i>
                    2020년 - 2022년
                </span>
            </div>
            
            <p>
                200여개의 랜딩 사이트 생성(1개의 랜딩 페이지 완료까지 약 3시간 정도 소요)<br />
                내부 프로젝트 개발 작업
            </p>

            <ul class='content-skills'>
                <li>Vue.js</li>
                <li>JavaScript</li>
                <li>jQuery</li>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Sass(SCSS)</li>
                <li>Tailwind CSS</li>
                <li>Bootstrap</li>
                <li>Laravel</li>
                <li>PHP</li>
                <li>Node.js</li>
                <li>GitHub</li>
                <li>C#</li>
            </ul>
        </div>
    </div>


    <!-- 프리랜서 -->
    <div class='about-timeline-block'>
        <div class='about-timeline-img about-picture'></div>

        <div class='about-timeline-content'>
            <h2>프리랜서</h2>
            <div class='timeline-content-info'>
                <span class='timeline-content-info-title'>
                    <i class="fa-solid fa-user-secret"></i>
                    Full Stack Developer
                </span>
                <span class="timeline-content-info-date">
                    <i class="fa-solid fa-calendar-days"></i>
                    2018년 - 2019년
                </span>
            </div>
            
            <p>
                대학교 평생교육원, 온라인 쇼핑몰 개발 작업
            </p>

            <ul class='content-skills'>
                <li>JAVA</li>
                <li>JSP</li>
                <li>Oracle</li>
                <li>JBoss</li>
                <li>jQuery</li>
                <li>JavaScript</li>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Sass(SCSS)</li>
                <li>Bootstrap</li>
                <li>Node.js</li>
                <li>GitHub</li>
            </ul>
        </div>
    </div>

    <!-- 여인닷컴 -->
    <div class='about-timeline-block'>
        <div class='about-timeline-img about-picture'></div>

        <div class='about-timeline-content'>
            <h2>(주)**닷컴</h2>
            <div class='timeline-content-info'>
                <span class='timeline-content-info-title'>
                    <i class="fa-solid fa-user-secret"></i>
                    Back-End Developer
                </span>
                <span class="timeline-content-info-date">
                    <i class="fa-solid fa-calendar-days"></i>
                    2017년
                </span>
            </div>
            
            <p>
                온라인 쇼핑몰 관리
            </p>
            

            <ul class='content-skills'>
                <li>JAVA</li>
                <li>JSP</li>
                <li>Oracle</li>
                <li>JBoss</li>
                <li>jQuery</li>
                <li>JavaScript</li>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Sass(SCSS)</li>
                <li>Bootstrap</li>
                <li>Node.js</li>
                <li>GitHub</li>
            </ul>
        </div>
    </div>

    <!-- 서경대 학교기업 -->
    <div class='about-timeline-block'>
        <div class='about-timeline-img about-picture'></div>

        <div class='about-timeline-content'>
            <h2>**대학교 기업</h2>
            <div class='timeline-content-info'>
                <span class='timeline-content-info-title'>
                    <i class="fa-solid fa-user-secret"></i>
                    Full Stack Developer
                </span>
                <span class="timeline-content-info-date">
                    <i class="fa-solid fa-calendar-days"></i>
                    2015년 - 2017년
                </span>
            </div>
            
            <p>
                대학교 수강신청, 출결, 원서접수, 우편 관리 시스템 등 리뉴얼 개발
            </p>

            <ul class='content-skills'>
                <li>JAVA</li>
                <li>JSP</li>
                <li>Oracle</li>
                <li>JBoss</li>
                <li>jQuery</li>
                <li>JavaScript</li>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Sass(SCSS)</li>
                <li>Bootstrap</li>
                <li>Node.js</li>
                <li>GitHub</li>
            </ul>
        </div>
    </div>


    <!-- DKBMC -->
    <div class='about-timeline-block'>
        <div class='about-timeline-img about-picture'></div>

        <div class='about-timeline-content'>
            <h2>(주)*BMC</h2>
            <div class='timeline-content-info'>
                <span class='timeline-content-info-title'>
                    <i class="fa-solid fa-user-secret"></i>
                    Full Stack Developer
                </span>
                <span class="timeline-content-info-date">
                    <i class="fa-solid fa-calendar-days"></i>
                    2014년 - 2015년
                </span>
            </div>
            
            <p>
                Salesforce 플랫폼 및 관련 기술을 활용한 개발 업무 
            </p>

            <ul class='content-skills'>
                <li>SalesForce</li>
                <li>Cloud</li>
                <li>Apex</li>
                <li>VisualForce</li>
                <li>jQuery</li>
                <li>JavaScript</li>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Sass(SCSS)</li>
                <li>Bootstrap</li>
                <li>Node.js</li>
                <li>GitHub</li>
            </ul>
        </div>
    </div>

</div>