<div class='project-sub-container'>
    <!--TheyWeek-->
    <div class='project-contents' onclick='openModal("theyweek");'>

        <div class='project-contents-img'>
            <img src='images/project/theyweek/theyweek_main.jpg'/>
        </div>

        
        <div class='project-desc'>
            <h1 class='animate-text'>TheyWeek</h1>
            <div class='animate-text dev-stack'>
                <dl>
                    <dt><i class="fa-solid fa-square"></i>클라이언트 스택</dt>
                    <dd>HTML5, Laravel Blade, JavaScript, jQuery, SCSS, CSS3</dd>
                </dl>
            
            </div>
            
            <input type='button' class='animate-text project-detail-btn dark-gray-btn' value='자세히 보기' onclick='openModal("theyweek");'>
        </div>
    </div>


    <!--영수증 리뷰-->
    <div class='project-contents' onclick='openModal("receipt");'>

        <div class='project-contents-img'>
            <img src='images/project/receipt/receipt_main.jpg'/>
        </div>

        
        <div class='project-desc'>
            <h1 class='animate-text'>리뷰 관리</h1>
            <div class='animate-text dev-stack'>
                <dl>
                    <dt><i class="fa-solid fa-square"></i>클라이언트 스택</dt>
                    <dd>HTML5, Laravel Blade, JavaScript, jQuery, SCSS, CSS3</dd>
                </dl>
            
            </div>
            
            <input type='button' class='animate-text project-detail-btn dark-gray-btn' value='자세히 보기' onclick='openModal("receipt");'>
        </div>
    </div>


    <!--인스타 관리-->
    <div class='project-contents' onclick='openModal("insta");'>
    
        <div class='project-contents-img'>
            <img src='images/project/insta/insta_login.png'/>
        </div>
    
        
        <div class='project-desc'>
            <h1 class='animate-text'>인스타 고객관리(CRM)</h1>
            <div class='animate-text dev-stack'>
                <dl>
                    <dt><i class="fa-solid fa-square"></i>클라이언트 스택</dt>
                    <dd>HTML5, Laravel Blade, JavaScript, jQuery, SCSS, CSS3</dd>
                </dl>
                <dl>
                    <dt><i class="fa-solid fa-square"></i>서버 스택</dt>
                    <dd>C#</dd>
                </dl>
            </div>
            <input type='button' class='animate-text project-detail-btn dark-gray-btn' value='자세히 보기' onclick='openModal("insta");'>
        </div>
    </div>
        

    <!--순위의 모든 것-->
    <div class='project-contents' onclick='openModal("storetracker");'>
    
        <div class='project-contents-img'>
            <img src='images/project/storetracker/storestracker_main.png'/>
        </div>
    
        
        <div class='project-desc'>
            <h1 class='animate-text'>
                순위의 모든 것
            </h1>
            <div class='animate-text dev-stack'>
                <dl>
                    <dt><i class="fa-solid fa-square"></i>클라이언트 스택</dt>
                    <dd>HTML5, Vue.js, Vuetify, SCSS, CSS3</dd>
                </dl>
            </div>
            <input type='button' class='animate-text project-detail-btn dark-gray-btn' value='자세히 보기' onclick='openModal("storetracker");'>
        </div>
    </div>
    

    <!--순위체크-->
    <div class='project-contents' onclick='openModal("sunweerank");'>
    
        <div class='project-contents-img'>
            <img src='images/project/sunweerank/sunweerank_main.jpg'/>
        </div>
    
        
        <div class='project-desc'>
            <h1 class='animate-text'>순위체크</h1>
            <div class='animate-text dev-stack'>
                <dl>
                    <dt><i class="fa-solid fa-square"></i>클라이언트 스택</dt>
                    <dd>HTML5, Laravel Blade, JavaScript, jQuery, SCSS, CSS3</dd>
                </dl>
            </div>
            <input type='button' class='animate-text project-detail-btn dark-gray-btn' value='자세히 보기' onclick='openModal("sunweerank");'>
        </div>
    </div>


     <!--AD Helper-->
     <div class='project-contents' onclick='openModal("adhelper");'>
    
        <div class='project-contents-img'>
            <img src='images/project/adhelper/adhelper_main.jpg'/>
        </div>
    
        
        <div class='project-desc'>
            <h1 class='animate-text'>AD Helper</h1>
            <div class='animate-text dev-stack'>
                <dl>
                    <dt><i class="fa-solid fa-square"></i>클라이언트 스택</dt>
                    <dd>HTML5, Laravel Blade, JavaScript, jQuery, SCSS, CSS3</dd>
                </dl>
            </div>
            <input type='button' class='animate-text project-detail-btn dark-gray-btn' value='자세히 보기' onclick='openModal("adhelper");'>
        </div>
    </div>


    <!--민트허브-->
    <div class='project-contents' onclick='openModal("minthub");'>
    
        <div class='project-contents-img'>
            <img src='images/project/minthub_crm/minthub_crm_main.jpg'/>
        </div>
    
        
        <div class='project-desc'>
            <h1 class='animate-text'>민트허브 CRM 리뉴얼</h1>
            <div class='animate-text dev-stack'>
                <dl>
                    <dt><i class="fa-solid fa-square"></i>클라이언트 스택</dt>
                    <dd>HTML5, Laravel Blade, JavaScript, jQuery, SCSS, CSS3</dd>
                </dl>
            </div>
            <input type='button' class='animate-text project-detail-btn dark-gray-btn' value='자세히 보기' onclick='openModal("minthub");'>
        </div>
    </div>


    <!--알람서버-->
    <div class='project-contents' onclick='openModal("alarm");'>
    
        <div class='project-contents-img'>
            <img src='images/project/alarm/alarm_main.jpg'/>
        </div>
    
        
        <div class='project-desc'>
            <h1 class='animate-text'>알람서버</h1>
            <div class='animate-text dev-stack'>
                <dl>
                    <dt><i class="fa-solid fa-square"></i>클라이언트 스택</dt>
                    <dd>HTML5, Vue.js, Vuetify, SCSS, CSS3</dd>
                </dl>
            </div>
            <input type='button' class='animate-text project-detail-btn dark-gray-btn' value='자세히 보기' onclick='openModal("alarm");'>
        </div>
    </div>


    <!--랜딩-->
    <div class='project-contents' onclick='openModal("landing");'>
    
        <div class='project-contents-img'>
            <img src='images/project/landing/landing.jpg'/>
        </div>
    
        
        <div class='project-desc'>
            <h1 class='animate-text'>랜딩 페이지(약 200개)</h1>
            <div class='animate-text dev-stack'>
                <dl>
                    <dt><i class="fa-solid fa-square"></i>클라이언트 스택</dt>
                    <dd>HTML5, PHP, jQuery, JavaScript, SCSS</dd>
                </dl>
            </div>
            <input type='button' class='animate-text project-detail-btn dark-gray-btn' value='자세히 보기' onclick='openModal("landing");'>
        </div>
    </div>


    <!--VIP 비즈몰-->
    <div class='project-contents' onclick='openModal("vip");'>
    
        <div class='project-contents-img'>
            <img src='images/project/vip/vip_main.jpg'/>
        </div>
    
        
        <div class='project-desc'>
            <h1 class='animate-text'>VIP 비즈몰</h1>
            <div class='animate-text dev-stack'>
                <dl>
                    <dt><i class="fa-solid fa-square"></i>클라이언트 스택</dt>
                    <dd>HTML5, Laravel Blade, jQuery, JavaScript, CSS3, SCSS</dd>
                </dl>
            </div>
            <input type='button' class='animate-text project-detail-btn dark-gray-btn' value='자세히 보기' onclick='openModal("vip");'>
        </div>
    </div>
</div>

<!-- vip -> 회원가입 시 validation 유효성 검사  -->


